@import "./colors";

// Temporary
.alpha {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  box-sizing: border-box;

  margin: 0;
  padding: 10px;

  border: none;
  border-radius: 5px;
  background-color: @downloadsBackground;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);

  font-size: 15px;
  font-family: Raleway, sans-serif;
  color: @superOffWhite;

  z-index: 2;

  h1 {
    margin-right: 5px;
    margin-left: 5px;
  }

  i {
    color: @offWhite;
  }
}
// Temporary

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v17/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}


body {
  width: 100vh;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  background: @backgroundVibrant;
}

.flip {
  transition: 0.3s;

  &:hover {
    transform: rotateZ(180deg);
  }
}
