@import "../core/colors";

.profile-options-wrapper {
  box-sizing: border-box;
  display: flex;

  width: 800px;
  height: 500px;
}

.modal-page-header img {
  margin-left: 30px;

  width: 105px;
  height: 105px;
}
