@import "../core/colors";
@import "../core/loaders";

.create-profile-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px;

  width: calc(100% - 60px);
  height: calc(100% - 60px);

  .create-profile-cover {
    position: absolute;
    left: -30px;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% + 60px);
    height: calc(100% + 60px);

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 8;
  }

  .hidden {
    display: none;
  }
}

.create-profile {
  box-sizing: inherit;
  position: relative;

  text-align: center;

  h1 {
    padding-bottom: 10px;

    font-size: 30px;
    font-family: Raleway, sans-serif;
    color: @offWhite;

    text-shadow: 2px 2px @offBlack;
  }

  h3 {
    font-size: 15px;
    font-family: Oswald, sans-serif;
  }

  .create-profile-name {
    width: 30%;
    margin-left: 35%;
  }

  .create-profile-types {
    display: flex;

    width: 100%;

    margin: 20px 0;

    .create-profile-type {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      position: relative;
      cursor: pointer;

      height: 285px;
      max-width: 300px;

      margin: 10px;
      padding: 5px 10px 15px;

      text-align: center;

      border: none;
      border-radius: 5px;
      background-color: @downloadsBackground;

      .dropdown {
        box-sizing: border-box;

        margin-bottom: 10px;

        border: 1px solid @backgroundOpaque;
        border-radius: 3px;
        background-color: @backgroundVibrant3;

        .dropdown-active {
          background-color: transparent;
        }
        //position: absolute;
        //bottom: 0;
      }

      transition: all 0.3s;

      * {
        transition: all 0.3s;
      }

      .more-info {
        position: absolute;
        left: 10px;
        top: 10px;

        font-size: 15px;
        color: @superOffWhite;
        text-shadow: 2px 2px @offBlack;

        &:hover {
          color: @offWhite;
        }
      }

      h2 {
        padding-top: 10px;
        padding-bottom: 15px;

        font-size: 20px;
        font-family: Raleway, sans-serif;
        color: @offWhite;

        text-shadow: 2px 2px @offBlack;
      }

      p {
        overflow: hidden;
        max-height: 93px;
        padding-bottom: 10px;

        font-size: 17px;
        font-family: "Source Sans Pro", sans-serif;
        color: @offGrey;
      }

      select {
        margin: 10px 0;

        font-size: 15px;
      }

      &.active {
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.75);
      }

      &.disabled {
        cursor: not-allowed;
        background: @backgroundVibrant3;

        * {
          cursor: not-allowed;
        }

        i {
          color: @inactive;
          text-shadow: none;

          &:hover {
            color: @inactive;
          }
        }

        .dropdown {
          opacity: 0.5;
        }

        h2 {
          color: @inactive;
          text-shadow: none;
        }

        p {
          color: @inactive;
        }

        select {
          color: @inactive;

          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}
