@import "../core/loaders";

.create-profile-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px;

  width: calc(100% - 60px);
  height: calc(100% - 60px);
}

.create-profile {
  box-sizing: inherit;
  position: relative;

  text-align: center;

  .header-generic {
    padding-bottom: 10px;
  }

  .create-profile-name {
    width: 30%;
    margin-left: 35%;
  }

  .create-profile-flavors {
    display: flex;
    width: 100%;
    margin: 20px 0;

    .create-profile-flavor {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      position: relative;
      cursor: pointer;

      height: 285px;
      max-width: 300px;
      margin: 10px;
      padding: 5px 10px 15px;

      text-align: center;
      border: none;
      border-radius: 5px;
      background-color: var(--background-lighter);

      transition: all 0.3s;

      .icon {
        position: absolute;
        left: 10px;
        top: 10px;

        color: var(--medium);

        &:hover {
          color: var(--light);
        }
      }

      .title-generic {
        padding-top: 10px;
        padding-bottom: 15px;

        text-transform: uppercase;
        color: var(--medium);

        span {
          text-transform: none;
        }
      }

      .paragraph-generic {
        overflow: hidden;
        max-height: 93px;
        padding-bottom: 10px;
      }

      .dropdown {
        box-sizing: border-box;
        margin-bottom: 10px;

        border: 1px solid var(--background-darker);
        border-radius: 3px;
        background-color: var(--background-main-alt);

        .dropdown-active {
          background-color: transparent;
        }
      }

      &.active {
        box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.75);
      }

      &.disabled {
        cursor: not-allowed;
        background: var(--background-main-alt);

        * {
          cursor: not-allowed;
        }

        .icon {
          color: var(--inactive);

          &:hover {
            color: var(--inactive);
          }
        }

        .title-generic {
          color: var(--inactive);
          text-shadow: none;
        }

        .paragraph-generic {
          color: var(--inactive);
        }

        .dropdown {
          opacity: 0.5;
        }
      }
    }
  }
}
