@import "../core/colors";

.badge {
  box-sizing: border-box;

  margin-left: 5px;
  padding: 3px;

  border: none;
  border-radius: 3px;
  background-color: @backgroundOpaque;

  font-size: 12px;
  font-family: Raleway, sans-serif;
  color: @offWhite;
}
