@import "../core/colors";

.java-settings {
  position: relative;
  margin-right: 27px;
  min-height: 405px;

  .java-add {
    position: absolute;
    top: -45px;
    right: 10px;
  }

  .java-none {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 375px;

    h1 {
      margin: 0;
      padding: 0;

      color: var(--error);
      font-size: 30px;
    }

    h2 {
      margin: 10px;

      font-size: 20px;
      font-family: Raleway, sans-serif;
      color: var(--light);
      text-shadow: 2px 2px var(--shadow);
    }

    p {
      width: 350px;

      font-size: 17px;
      line-height: 22px;
      text-align: center;
      font-family: Source Sans Pro, sans-serif;
      color: var(--dark);

      span {
        box-sizing: border-box;
        cursor: pointer;
        outline: none;

        padding: 2px 5px;

        border: 1px solid var(--background-darker);
        border-radius: 5px;
        background-color: var(--background-main-alt);

        font-size: 15px;
        font-family: Raleway, sans-serif;
        color: var(--medium);
      }
    }
  }
}

.java-card {
  position: relative;
  cursor: pointer;
  margin: 0;

  border: none;
  border-radius: 5px;
  background-color: var(--background-main-alt);

  transition: all 0.3s;

  h1 {
    padding: 15px 15px 0;
    margin: 0;

    font-size: 17px;
    font-family: Raleway, sans-serif;

    text-shadow: none;

    i {
      font-size: 20px;
      margin-right: 15px;
    }
  }

  p {
    margin: 10px;
    padding: 5px;
    //margin: 10px 0 0;
    //padding: 0 0 5px;

    background-color: var(--background-darker);


    font-size: 15px;
    font-family: Source Sans Pro, sans-serif;
    color: var(--medium);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: rtl;
    text-align: left;

    border: none;
    border-radius: 3px;
  }

  .java-remove {
    position: absolute;
    right: 10px;
    top: 10px;

    padding: 3px;

    background-color: var(--error-alt);
    border-color: var(--error);
  }

  &.selected {
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.75);
  }
}
