/* A template for theming */

/* Background Colors */
.transparent-bg-9 {
    background-color: rgba(25, 25, 25, 0.9);
}
.transparent-bg-85 {
    background-color: rgba(25, 25, 25, 0.85);
}
.transparent-bg-75 {
    background-color: rgba(25, 25, 25, .75);
}
.transparent-bg-60 {
    background-color: rgba(25, 25, 25, .6);
}
.transparent-bg-25 {
    background-color: rgba(25, 25, 25, .25);
}
.transparent-bg-alt {
    background-color: rgba(37, 37, 37, 0.8);
}
.transparent-bg-alt-dark {
    background-color: rgba(20, 20, 20, 0.85);
}
.transparent-bg-alt-light {
    background-color: rgba(32, 32, 32, 0.85);
}
.primary-bg {
    background-color: #185cc9;
}
.secondary-bg {
    background-color: #284a98;
}
.success-bg {
    background-color: rgb(40, 167, 69);
}
.success-bg-alt {
    background-color: rgba(65, 242, 105, 0.2);
}
.warning-bg {
    background-color: rgb(255, 193, 7);
}
.warning-bg-alt {
    background-color: rgba(255, 193, 7, 0.2);
}
.error-bg {
    background-color: rgb(220, 53, 69);
}
.error-bg-alt {
    background-color: rgba(220, 53, 69, 0.2);
}


/* Text Colors */
.primary-text {
    color: #185cc9;
}
.primary-text-hover:hover {
    color: #185cc9;
}
.secondary-text {
    color: #284a98;
}
.secondary-text-hover:hover {
    color: #284a98;
}
.light-text {
    color: #d8d6d6;
}
.light-text-hover:hover {
    color: #d8d6d6;
}
.medium-text {
    color: #b5b3b3;
}
.medium-text-hover:hover {
    color: #b5b3b3;
}
.dark-text {
    color: #757575;
}
.dark-text-hover:hover {
    color: #757575;
}
.inactive-text {
    color: #3a3a3a;
}
.inactive-text-hover:hover {
    color: #3a3a3a;
}
.disabled-text {
    color: #232323;
}
.disabled-text-hover:hover {
    color: #232323;
}
.success-text {
    color: rgb(40, 167, 69);
}
.success-text-hover:hover {
    color: rgb(40, 167, 69);
}
.warning-text {
    color: rgb(255, 193, 7);
}
.warning-text-hover:hover {
    color: rgb(255, 193, 7);
}
.error-text {
    color: rgb(220, 53, 69);
}
.error-text-hover:hover {
    color: rgb(220, 53, 69);
}


/* Text Modifiers */
.text-shadow {
    text-shadow: 2px 2px #0c0c0c;
}
